<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hmily.community.mapper.QuestionMapper">
    <insert id="insertQuestion" parameterType="Question">
        insert  into question (title,description,gmt_create,gmt_modified,creator,tag)
        values (#{title},#{description},#{gmtCreate},#{gmtModified},#{creator},#{tag})
    </insert>

    <select id="getTotalCount" parameterType="String" resultType="Integer">
        select count(1)
        from question
        <where>
            <if test="search != null and search != ''">
                and title regexp (#{search});
            </if>
        </where>
    </select>
    <resultMap id="getQuestionsAndUsers" type="com.hmily.community.dto.QuestionDTO">
        <id property="id" column="id"></id>
        <result column="title" property="title"></result>
        <result column="description" property="description"></result>
        <result column="gmt_create" property="gmtCreate"></result>
        <result column="creator" property="creator"></result>
        <result column="gmt_modified" property="gmtModified"></result>
        <result column="comment_count" property="commentCount"></result>
        <result column="view_count" property="viewCount"></result>
        <result column="like_count" property="likeCount"></result>
        <result column="tag" property="tag"></result>
        <association property="user" javaType="user">
            <id column="user_id" property="id"></id>
            <result property="avatarUrl" column="avatar_url"></result>
            <result property="name" column="name"></result>
        </association>
    </resultMap>
    <sql id="questionAndUSer">
        select q.*,u.id as user_id,u.name,u.avatar_url from question q,user u
    </sql>
    <select id="getQuestionList"  resultMap="getQuestionsAndUsers">
        <include refid="questionAndUSer"></include>
        where q.creator = u.id
        <if test="search != null and search != ''">
            and title regexp (#{search})
        </if>
        order by gmt_create desc
        limit #{offset},#{pageSize}
    </select>
    <select id="getTotalCountByUserId"  resultType="Integer">
        select count(1) from question where creator = #{id};
    </select>

    <select id="getQuestionListByUserId" resultMap="getQuestionsAndUsers">
        <include refid="questionAndUSer"></include>
        where q.creator = #{param1} and q.creator = u.id
        limit #{param2},#{param3}
    </select>

    <select id="getQuestionDTOById" parameterType="Integer" resultMap="getQuestionsAndUsers">
        <include refid="questionAndUSer"></include>
        where q.creator = u.id and q.id = #{id}
    </select>

    <update id="updateQuestion" parameterType="Question">
        update question
        set
        title=#{title},
        description=#{description},
        tag=#{tag},
        gmt_modified=#{gmtModified}
        where
        id=#{id}
    </update>
    <update id="addViewCount" parameterType="Integer">
        update question
        set
        view_count=view_count+1
        where
        id=#{id}
    </update>

    <update id="addCommentCount" parameterType="Integer">
        update question
        set
        comment_count=comment_count+1
        where
        id=#{id}
    </update>

    <select id="getQuestionById" parameterType="Integer" resultType="Question">
        select * from question
        where id=#{id}
    </select>

    <select id="selectReleatedQuestion" parameterType="Question" resultType="question">
        select * from question where id != #{id} and tag regexp #{tag}
    </select>

    <select id="selectHot" resultType="Question">
        select * from question
       order by view_count desc,comment_count desc
        limit 0,10
    </select>
</mapper>