body{
    /*background-color: #efefef;*/
    background: url(../images/bg.jpg) repeat;
}
.main{
    background-color: white;
    margin: 30px;
}
.btn-publish{
    float: right;
    margin-bottom: 15px;
}
.media-object{
    width: 38px;
    height: 38px;
}

.question-title{
    margin-top: 25px;
}
.question-tag{
    margin-right: 5px;
    font-size: 14px;
}
.question-releated{
    padding-left: 0;
    list-style-type: none;
    line-height: 25.4px;
    font-size: 13px;
    font-family: candara,"Helvetica Neue",Helvetica,Arial,"PingFang SC","Hiragino Sans GB","WenQuanYi Micro Hei","Microsoft Yahei",sans-serif, -apple-system;
}
.question-wechat{
    width: 100%;
}
.creator{
    margin-top: 25px;
}
.comment-media-body{
    padding-top: 10px;
}
.comment{
    margin: 10px 0;
}
.sub-comments{
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #eee;
    padding-top: 15px;
    margin-bottom: 15px;
}
.sub-comments .btn{
    margin: 10px 0
}
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.profile .section{
    margin-top: 18px;
}
.community-menu{
    display: block;
    margin-bottom: 15px;
    color: #999;
    font-size: 14px;
    cursor: pointer;
}
.jumbotron{
   height: 700px;
}
.jumbotron .error-content{
    margin: 50px;
}
.comment-sp{
    margin-top: 0;
}
.menu{
    color: #999;
}
.menu .icon {
    margin-right: 6px;
    font-size: 15px;
    cursor: pointer;
}
.menu .active{
    color: #155faa;
}
.menu .icon:hover{
    color: #155faa;
}