<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>程序员的小宇宙</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}">
    <link rel="stylesheet" th:href="@{/css/community.css}">
    <script type="text/javascript" th:src="@{/js/jquery-1.11.3.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
</head>
<body>
<div class="jumbotron">
    <div class="error-content">
        <h1>出错啦！！！</h1>
        <p th:text="${message}">服务太热了，要不稍等一下再来试试</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button" th:href="@{/}">回到首页</a></p>
    </div>
</div>
</body>
</html>