<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${questionDTO.title}">个人中心</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}">
    <link rel="stylesheet" th:href="@{/css/community.css}">
    <link rel="stylesheet" th:href="@{/css/editormd.preview.min.css}">
    <script type="text/javascript" th:src="@{/js/jquery-1.11.3.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{/js/community.js}"></script>
    <script type="text/javascript" th:src="@{/js/editormd.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/lib/marked.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/lib/prettify.min.js}"></script>
</head>
<body>
<div th:replace="navigation::.navbar"></div>
<div class="container-fluid main profile">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-sm-12">
            <!--问题正文-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12">
                <h4 class="question-title" th:text="${questionDTO.title}"></h4>
                <span class="text-desc">作者: [[${questionDTO.user.name}]] | 发布于[[${#dates.format(questionDTO.gmtCreate, 'yyyy-MM-dd HH:mm:ss')}]] | 阅读数: [[${questionDTO.viewCount}]]  </span>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-sm-12">
                <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12 " id="question-view" >
                    <textarea th:text="${questionDTO.description}" style="display:none;"></textarea>
                </div>
                <script type="text/javascript">
                    $(function() {
                       editormd.markdownToHTML("question-view", {});
                    });
                </script>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-sm-12 ">
                <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12 ">
                    <span class="label label-info question-tag" th:each="t:${questionDTO.tag.split(',')}">
                        <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
                        <span class="label label-info" th:text="${t}"></span>
                    </span>
                </div>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-sm-12 ">
                <a class="community-menu" th:href="@{'/publish/'+${questionDTO.id}}"
                   th:if="${session.user != null && session.user.id==questionDTO.user.id}">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>编辑
                </a>
            </div>
            <!--评论-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12">
                <h4 class="col-lg-12 col-md-12 col-sm-12 col-sm-12"><span th:text="${questionDTO.commentCount}"></span>
                    个回复
                </h4>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-sm-12 comment-sp">
                <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12" th:each="comment:${comments}"
                     th:if="${comments != null}">
                    <div class="media-left">
                        <span href="#">
                            <img class="media-object img-rounded" th:src="${comment.user.avatarUrl}" alt="...">
                        </span>
                    </div>
                    <div class="media-body" th:id="${'comment-body-'+comment.id}">
                        <span>
                            <h5 class="media-heading" th:text="${comment.user.name}"></h5>
                        </span>
                        <div th:text="${comment.content}">我是回复内容</div>
                        <div class="menu">
                            <span class="glyphicon glyphicon-thumbs-up icon" aria-hidden="true"></span>
                            <span class="icon">
                                <span class="glyphicon glyphicon-comment " aria-hidden="true" th:data-id="${comment.id}"
                                      onclick="collapseComments(this)"></span>
                                <span th:text="${comment.commentCount}"></span>
                            </span>
                            <span class="pull-right" th:text="${#dates.format(comment.gmtCreate, 'yyyy-MM-dd')}"></span>
                        </div>
                    </div>
                    <hr class="col-lg-12 col-md-12 col-sm-12 col-sm-12">
                </div>
            </div>
            <!-- 回复框-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12">
                <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12 comment-section">
                    <h4 class="col-lg-12 col-md-12 col-sm-12 col-sm-12">
                        <span>提交回复</span>
                    </h4>
                    <hr class="col-lg-12 col-md-12 col-sm-12 col-sm-12 comment-sp">
                    <div class="media-left">
                        <span href="#">
                            <img class="media-object img-rounded" th:src="${questionDTO.user.avatarUrl}" alt="...">
                        </span>
                    </div>
                    <div class="media-body comment-media-body">
                        <span>
                            <h5 class="media-heading" th:text="${questionDTO.user.name}"></h5>
                        </span>
                    </div>
                    <input type="hidden" id="question_id" th:value="${questionDTO.id}">
                    <textarea name="content" id="comment-content" class="form-control comment" cols="30"
                              rows="10"></textarea>
                    <button type="submit" class="btn btn-success publish-btn" onclick="post()">回复</button>
                </div>
            </div>
        </div>
        <!-- 右边栏-->
        <div class="col-lg-3 col-md-12 col-sm-12 col-sm-12 ">
            <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12 ">
                <h4 class="creator">发起人</h4>
                <div class="media">
                    <div class="media-left">
                        <span href="#">
                            <img class="media-object img-rounded" th:src="${questionDTO.user.avatarUrl}" alt="...">
                        </span>
                    </div>
                    <div class="media-body">
                        <span>
                            <h5 class="media-heading" th:text="${questionDTO.user.name}"></h5>
                        </span>
                    </div>
                </div>
            </div>
            <hr class="col-lg-12 col-md-12 col-sm-12 col-sm-12">
                <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12 ">
                    <h4>站长微信</h4>
                    <img class="img-thumbnail question-wechat" th:src="@{/images/wechat.jpg}">
            </div>
            <hr class="col-lg-12 col-md-12 col-sm-12 col-sm-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12 ">
                <h4>相关问题</h4>
                <ul class="question-releated">
                    <li th:each="releated:${releatedQuestions}" class="question-releated">
                        <a th:href="@{'/question/'+${releated.id}}" th:text="${releated.title}"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

</body>
</html>